@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Hi Melody', sans-serif;
}

body {
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 360px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.image-wrapper {
    width: 360px;
    height: 800px;
    position: relative;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    overflow: hidden;
}

.alert-container {
    position: relative;
    display: inline-block;
}

.alert-dropdown {
    display: block;
    position: absolute;
    top: 60px; /* Adjust based on your header height */
    right: 0; /* Align to the right */
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.alert-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.alert-dropdown li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.alert-dropdown li:hover {
    background-color: #f1f1f1;
}
