@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Hi Melody', sans-serif;
}

body {
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-screen {
    width: 360px;
    height: 800px;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.alert-icon {
    width: 50px;
    height: 50px;
}

.content {
    flex-grow: 1;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}



input[type="email"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: yellowgreen;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Hi Melody";
    font-size: 20px;
}

button:hover {
    background-color: darkolivegreen;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Hi Melody";
    font-size: 20px;
}



.footer {
    width: 100%;
    height: 60px;
    min-height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-icon {
    font-size: 24px;
    cursor: pointer;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: rgba(52, 58, 64, 0.8); /* Set to a slightly transparent dark color */
    color: white;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    font-family: "Hi Melody";
    font-size: 30px;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-link {
    padding: 15px;
    cursor: pointer;
    text-align: center;
}

.sidebar-link:hover {
    background-color: rgba(73, 80, 87, 0.8); /* Set to a slightly transparent hover color */
}

.main-screen.sidebar-open .sidebar {
    transform: translateX(0);
}
.alert-container {
    position: relative;
    display: inline-block;
}

.alert-dropdown {
    display: block;
    position: absolute;
    top: 60px; /* Adjust based on your header height */
    right: 0; /* Align to the right */
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.alert-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.alert-dropdown li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.alert-dropdown li:hover {
    background-color: #f1f1f1;
}
