@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Hi Melody', sans-serif;
}

body {
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-screen {
    width: 360px;
    height: 800px;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 80%;
}
.center-image {
    max-width: 100px;
    max-height: 50px;
}

.alert-icon {
    width: 50px;
    height: 50px;
}

.banner-container {
    width: 320px;
    height: 1300px; /* 배너 영역의 높이를 300px로 늘림 */
    overflow: hidden;
    margin-top: 20px;
    border-radius: 20px;
}

.banner-image {
    width: 320px; /* 배너 이미지의 너비를 320px로 설정 */
    height: 1300px;
    object-fit: contain;
    border-radius: 20px;
}


.activities-container {
    flex-grow: 1;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow-y: auto;
    margin-top: 20px;
}

.activity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 150px;
    font-family: "Hi Melody";
    font-size: 14px;
}

.activity img {
    flex-shrink: 0;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.activity img:hover {
    transform: scale(1.1);
}
.activity:hover{
    transform: scale(1.05);
}

.activity-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex-grow: 1;
}

.activity h3 {
    margin: 5px 0;
}

.activity p {
    margin: 5px 0;
    text-align: left;
    font-size: 14px;
}
.footer {
    width: 320px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-icon {
    font-size: 24px;
    cursor: pointer;


}
/* Volunteer.css */

/* 기존 사이드바 스타일 */
.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: rgba(52, 58, 64, 0.8); /* Set to a slightly transparent dark color */
    color: white;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1001; /* 오버레이보다 위에 배치 */
    font-family: "Hi Melody";
    font-size: 30px;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-link {
    padding: 15px;
    cursor: pointer;
    text-align: center;
}

.sidebar-link:hover {
    background-color: #495057;
}

.main-screen.sidebar-open .sidebar {
    transform: translateX(0);
}

/* 오버레이 스타일 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정색 배경 */
    z-index: 1000; /* 사이드바 아래에 배치 */
    display: none; /* 기본적으로 숨김 */
}

.overlay.show {
    display: block;
}

.alert-container {
    position: relative;
    display: inline-block;
}

.alert-dropdown {
    display: block;
    position: absolute;
    top: 60px; /* Adjust based on your header height */
    right: 0; /* Align to the right */
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.alert-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.alert-dropdown li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.alert-dropdown li:hover {
    background-color: #f1f1f1;
}
