@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 360px;
    height: 800px;
    background-color: #f5f5f5;
    overflow: hidden;
    margin: 0 auto;
}

.main-screen {
    width: 360px;
    height: 800px;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 80%;
}
.center-image {
    max-width: 100px;
    max-height: 50px;
}

.alert-icon {
    width: 50px;
    height: 50px;
}

.banner-container {
    width: 320px;
    height: 1300px; /* 배너 영역의 높이를 300px로 늘림 */
    overflow: hidden;
    margin-top: 20px;
    border-radius: 20px;
}

.banner-image {
    width: 320px; /* 배너 이미지의 너비를 320px로 설정 */
    height: 1300px;
    object-fit: contain;
    border-radius: 20px;
}


.activities-container {
    flex-grow: 1;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow-y: auto;
    margin-top: 20px;
}

.activity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 150px;
}

.activity img {
    flex-shrink: 0;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.activity img:hover {
    transform: scale(1.1);
}
.activity:hover{
    transform: scale(1.05);
}

.activity-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex-grow: 1;
}

.activity h3 {
    margin: 5px 0;
}

.activity p {
    margin: 5px 0;
    text-align: left;
    font-size: 12px;
}
.footer {
    width: 320px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-icon {
    font-size: 24px;
    cursor: pointer;
}