<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ShopMapper">

    <select id="findShopList" resultType="com.example.demo.unPyeongGuShop.domain.ShopVO">
        select
            unp_region,
            unp_shopname,
            unp_business,
            unp_phone_number,
            unp_address,
            unp_discount,
            unp_dismember
        from
            UnPyong_SHOP
        order by
            unp_region asc
    </select>

<!--    private String unp_region;
    private String unp_shopname;
    private String unp_business;
    private String unp_phone_number;
    private String unp_address;
    private String unp_discount;
    private String unp_dismember;-->

    <delete id="deleteMember" parameterType="String">
        # 여기 쿼리
    </delete>

</mapper>